/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My styles */

.error {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 26px;
  display: block;
  padding: 20px;
  border: 2px solid #222;
  cursor: pointer;
}
.nav-bar {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #222;
}
.nav-bar > * {
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
  background: transparent;
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
.active {
  font-weight: bold;
}
.home-container {
  padding: 15px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
}
.auth {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border: 2px solid #222;
}
.auth > * {
  margin-bottom: 5px;
}
.auth > *:last-child {
  margin-bottom: 0;
}
ul {
  margin: 15px;
}
li {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
li:last-child {
  margin-bottom: 0;
}
